---
---

@import "{{ site.theme }}";
body {
  background-color: black;
}


h1 {
  color: cyan;
}

a:link {
  color: cyan;
}


/* mouse over link */
a:hover {
  color: silver;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: slategray;
}
