---
---
@import "{{ site.theme }}";

body {
  background-color: black;
}


h1 {
  color: lightcyan;
}

p {
  color: lightcyan;
}

.page-header {
  color: lightcyan;
  margin:0 0 40px;
}

a {
  color: lightcyan;
}
/* mouse over link */
a:hover {
  color: silver;
}
/* selected link */
a:active {
  color: slategray;
}
